    @model CRUD_emp_240424.Models.tblEmp
@{
    ViewBag.Title = "details";
}

<h2>Employee information</h2>

<table>
	<tr>
		<td>@Html.LabelFor(x => x.id)</td>
		<td>@Html.DisplayFor(x => x.id)</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(x => x.name)</td>
		<td>@Html.DisplayFor(x => x.name)</td>
	</tr>
	<tr>
		<td>@Html.LabelFor(x => x.mobile)</td>
		<td>@Html.DisplayFor(x => x.mobile)</td>
	</tr>
	<tr>
		<td>@Html.ActionLink("Edit", "edit", new { id = Model.id }, new {@class="btn btn-success"})</td>
		<td>@Html.ActionLink("Index", "index","", new { @class = "btn btn-primary" })</td>
	</tr>
</table>

